

.wrapper{
  max-width: 1200px;
  margin: auto;
}

h1, h2, h3, h4 {  
  font-weight: 900;
  color: #333;
  margin: 1.5em 0 0.5em;
}


h1 {font-size: 2em;}
h2 {font-size: 1.8em;}
h3 {font-size: 1.5em;}
h4 {font-size: 1.3em;}


/*Basic Grid Styles*/
.grid {
  display: flex;
  flex-flow: row; 
  flex-wrap: wrap;
}
.text-center {
 text-align: center;
}
.grid-cell {
  flex: 1;
  position: relative;
}


.demo {
  padding: 0 1em 0 0;
  margin: 0 .5em 0 .5em;
  background: rgba(51, 153, 204,.2);
  transition: background-color 0.3s ease;
  border: 1px solid #33cccc;
}
.demo:hover {
  background: rgba(51, 153, 204,.6);
}

.demo.header {
  padding: 0 1em 0 0;
  background: rgba(153, 51, 204,.2);
  transition: background-color 0.3s ease;
  border: 1px solid #cc33cc;
}
.demo.demo.header:hover {
  background: rgba(153, 51, 204,.6);
}

.demo.footer {
  padding: 0 1em 0 0;
  background: rgba(255, 255, 51,.2);
  transition: background-color 0.3s ease;
  border: 1px solid #cccc33;
}
.demo.demo.footer:hover {
  background: rgba(255, 255, 51,.6);
}



.footer {
	position: absolute;
	left: -1px;
    right: 1px;
	bottom: 0px;
	z-index: 99999;
}